<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  

  <!-- Bootstrap -->
  <link href="getXpert/css/bootstrap.css" rel="stylesheet">
  <link href="getXpert/css/bootstrap-theme.css" rel="stylesheet">

  <!-- siimple style -->
  <link href="getXpert/css/style.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body id="header">

  <!-- Fixed navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
	
      <div class="navbar-header f">
	    
       <a class="navbar-brand " href="index.html" style="font-size:40px">getXpert</a>
      </div>
	  
	
	
	 <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          
		  <li><a class="navbar-brand " href="#"><span class="glyphicon glyphicon-user"></span> Contact Us</a></li>
		  <li><a class="navbar-brand "  href="#"> <span class="glyphicon glyphicon-font"></span> About Us</a></li>
		  <li>&nbsp;&nbsp;</li>
		  
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown"><span class="glyphicon glyphicon-user pull-right"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Profile <span class="glyphicon glyphicon-eye-open pull-right"></span></a></li>
            <li class="divider"></li>
			<li><a href="ProfileCreation.html">Edit Profile <span class="glyphicon glyphicon-edit pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="index.html">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
          </ul>
        </li>
		  
        </ul>
      </div>

	  
      </div></div>
      <!--/.nav-collapse -->
 

  <div class="container-fluid" style="margin:50px 50px 50px 50px">
  <div class="col-md-3 b" style="padding:20px 60px 20px 60px">



<div class="form-group">
  
  <div>
 
      
      <input id="Searchcity" name="searchcity" type="text" placeholder="Search City" class="form-control input-md">
      </div>
  
    
  </div>
<div class="clearfix"></div>
<div class="form-group">
   
  <div>
  
      <input id="skillsearch" name="skillsearch" type="text" placeholder="Search Skills" class="form-control input-md">
      </div>
  
    
  </div>
  <div class="clearfix"></div>
<div align="center" >
  <a href="#" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Search</a>
  
   </div> 
  
</div>

<div class="col-md-8"style="margin-left:50px">
<div class="col-md-12 b">
                     <div class="col-sm-2" align="center" style="padding:20px 20px 20px 20px">
                      <img alt="User Pic" src="D:\Getxpertdesign\getXpert\img\user.jpg" id="profile-image1" class="img-circle img-responsive"> 
          
                
              
              <br>
    
              <!-- /input-group -->
            </div>
			
            <div class="col-sm-8" style="padding-top:20px">
            <div class="col-sm-3" ><span class="glyphicon glyphicon-user"></span> Full Name</div><div class="col-sm-9" >: Meha Gor</div>
			<div class="col-sm-3" > <i class="fa fa-phone"></i> Phone No</div><div class="col-sm-9" >: 437-981-2507</div>
             <div class="col-sm-3"><i class="fas fa-envelope"></i> Email Id</div><div class="col-sm-9">: gorm@uwindsor.ca</div>		 
			<div class="col-sm-3"><span class="glyphicon glyphicon-home"></span> Address</div><div class="col-sm-9" >: 456 Josephine Ave,ON,Canada</div>
			
             <div class="col-sm-3"> <i class="fas fa-dollar-sign"></i> Rate</div><div  class="col-sm-9">: $16/hr</div>				
		    			
            </div>
			<div class="col-sm-2" align="right">
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" >View Profile</a>
             </div>
            <div class="clearfix"></div>
           
            </div>
			<div class="clearfix"></div>
			<div class="col-md-12 b "style="margin-top:10px">
                     <div class="col-sm-2" align="center" style="padding:20px 20px 20px 20px">
                      <img alt="User Pic" src="D:\Getxpertdesign\getXpert\img\user.jpg" id="profile-image1" class="img-circle img-responsive"> 
          
                
              
              <br>
    
              <!-- /input-group -->
            </div>
			
            <div class="col-sm-8" style="padding-top:20px">
            <div class="col-sm-3" ><span class="glyphicon glyphicon-user"></span> Full Name</div><div class="col-sm-9" >: Meha Gor</div>
			<div class="col-sm-3" > <i class="fa fa-phone"></i> Phone No</div><div class="col-sm-9" >: 437-981-2507</div>
             <div class="col-sm-3"><i class="fas fa-envelope"></i> Email Id</div><div class="col-sm-9">: gorm@uwindsor.ca</div>		 
			<div class="col-sm-3"><span class="glyphicon glyphicon-home"></span> Address</div><div class="col-sm-9" >: 456 Josephine Ave,ON,Canada</div>
			
             <div class="col-sm-3"> <i class="fas fa-dollar-sign"></i> Rate</div><div  class="col-sm-9">: $16/hr</div>				
		    			
            </div>
			<div class="col-sm-2" align="right">
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"  >View Profile</a>
             </div>
            <div class="clearfix"></div>
           
            </div>
			
			<div class="col-md-12 b" style="margin-top:10px">
                     <div class="col-sm-2" align="center" style="padding:20px 20px 20px 20px">
                      <img alt="User Pic" src="D:\Getxpertdesign\getXpert\img\user.jpg" id="profile-image1" class="img-circle img-responsive"> 
          
                
              
              <br>
    
              <!-- /input-group -->
            </div>
			
            <div class="col-sm-8" style="padding-top:20px">
            <div class="col-sm-3" ><span class="glyphicon glyphicon-user"></span> Full Name</div><div class="col-sm-9" >: Meha Gor</div>
			<div class="col-sm-3" > <i class="fa fa-phone"></i> Phone No</div><div class="col-sm-9" >: 437-981-2507</div>
             <div class="col-sm-3"><i class="fas fa-envelope"></i> Email Id</div><div class="col-sm-9">: gorm@uwindsor.ca</div>		 
			<div class="col-sm-3"><span class="glyphicon glyphicon-home"></span> Address</div><div class="col-sm-9" >: 456 Josephine Ave,ON,Canada</div>
			
             <div class="col-sm-3"> <i class="fas fa-dollar-sign"></i> Rate</div><div  class="col-sm-9">: $16/hr</div>				
		    			
            </div>
			<div class="col-sm-2" align="right">
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"  >View Profile</a>
             </div>
            <div class="clearfix"></div>
           
            </div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin-top:80px">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#1c1c1c; color:#fff">
        <h3 class="modal-title" id="exampleModalLongTitle" align="center">tag line uigdsjkb uhjkndmsvc  uhjkdnmc </h3>
       
         
        </button>
      </div>
      <div class="modal-body">
        
  <table align="center" style="color:#1c1c1c">
      <tbody>
	  <tr>    
        <td>Name</td>
        <td>: Meha Gor</td>       
    </tr>
	<tr>    
        <td>Email Id</td>
        <td>: mehagor25@gmail.com</td>       
    </tr>
	<tr>    
        <td>Phone No</td>
        <td>: 437-981-2507</td>       
    </tr>
	<tr>    
        <td>Address</td>
        <td>: 456 Josephine Ave,ON,Canada</td>       
    </tr>
	  <tr>    
        <td>Birthday</td>
        <td>: 25/05/1996</td>       
    </tr>
    <tr>    
        <td>Gender</td>
        <td>: Female</td>       
    </tr>
	
	<tr>    
        <td>Qualification</td>
        <td>: BE-IT</td>       
    </tr>
    <tr>
        <td>Occupation</td>
        <td>: Web Designer</td> 
     </tr>
	<tr>
        <td>Charges:</td>
        <td>:18$/hour</td> 
     </tr>
	  <tr>  
        <td>Skills</td>
        <td>: java,python</td> 
     </tr> 
     
     <tr>    
        <td>Available Days</td>
        <td>: Sunday,Monday</td>       
    </tr>
	<tr>    
        <td>Available Time</td>
        <td>: 9am-2pm</td>       
    </tr>
    <tr>    
        <td>Available Service Area</td>
        <td>: Windsor</td>       
    </tr>
    <tr>
        <td>Languages Known</td>
        <td>: English, Hindi</td> 
     </tr>
	 <tr>
        <td>Working Experience</td>
        <td>: 2 years</td> 
     </tr>
	  
    </tbody>
  </table>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

    
              
			 
			  
			  












   
            
   
 
   
       
       
       
       
       
       
       
       
       
  

			
		
	


  
  
  
  
  
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="getXpert/js/bootstrap.min.js"></script>

</body>

</html>
